@font-face {
  font-family: Norse;
  src: url('../fonts/norse.bold.otf') format('opentype');
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: radial-gradient(circle, rgb(5, 2, 61),rgb(1, 1, 20));
}
* {
  box-sizing: content-box;
  color: #fff;
}

// NAVIGATION

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
  span {
    margin-right: 30px;
  }
  i {
    font-size: 30px;
  }
  i:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

// CONTENT

#content {
  flex: 1;
  margin: 10px 5px;
}

// PROJECTS

div.projects {
  header {
    h2 {
      font-size: 16px;
    }
    p {
      font-family: 'Source Code Pro';
    }
    div {
      display: flex;
      align-items: center;
      img {
        max-height: 40px;
        margin-right: 10px;
      }
      span {
        font-family: Norse;
        font-size: 20px;
        color: #ce973e;
      }
    }
  }
  ul {
    margin: 0 10px;
  }
  .project {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid rgb(69, 68, 116);
    border-radius: 5px;
    background-color: rgba(255,255,255,.05);
    * {
      color: #fff;
    }
    img {
      max-height: 50px;
      max-width: 50px;
    }
  }
}

// ABOUT

div.about {
  header {
    img {
      width: 300px;
    }
  }
}

// footer

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    margin-right: 15px;
    font-size: 11px;
    span {
      margin-left: 5px;
      text-decoration: underline;
    }
  }
  a {
    font-size: 20px;
  }
  a:hover {
    transform: scale(1.1);
  }
}
