body {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgb(5, 2, 61),rgb(1, 1, 20));
}
* {
  box-sizing: content-box;
  color: white;
}

// NAVIGATION

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: right;
  span {
    margin-right: 30px;
  }
  i {
    font-size: 30px;
  }
  i:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

// CONTENT

#content {
  margin: 10px 3px;
}

// PROJECTS

.project {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid rgb(69, 68, 116);
  border-radius: 5px;
  background-color: rgba(255,255,255,.99);
  * {
    color: rgb(149, 149, 158);
  }
}